.button{
    background-color: var(--color-black);
    color: var(--color-primary);
    width: 170px;
    height: 47px;
    border-radius: 12px;
    font-weight: 600;
    font-size: 18px;
    cursor: pointer;
    font-family: inherit;
}