.navbar{
    display: flex;
    justify-content: space-between;
    background-color: var(--color-primary);
    
    /* width: 100%; */
    height: 74px;
    align-items: center;
    padding: 0px 32px;
    
}