.search{
    /* padding: 14px 20px; */
    /* height: 75%; */

    padding-left: 12px;
    border-radius: 8px 0px 0px 8px;
    width: 490px;
    /* border-top-right-radius: 0px; */
    /* border-bottom-right-radius: 0px; */
    border: 1px solid var(--color-black);
}
.searchButton{
    /* padding: 14px 20px; */
    /* height: 75%; */
    width: 66px;
    border-radius: 0px 8px 8px 0px;
    /* border-left: none; */
    border: 1px solid var(--color-black);
}
.wrapper{
    display: flex;
    /* align-items: stretch; */
    height: 48px;
}